@import url('./reset.css');

body {
    background-color: rgb(62, 62, 62);
    overflow: hidden;
}

.wrapper {    
    margin: 3vh auto 0 auto;
    width: 700px;    
    position: relative;
    
}

@media only screen and (max-width: 767px) {
    .wrapper {
        width: calc(100vw - 10%);
		height: 110vw ;		
        margin: 5vh auto;
    }
}
.wrapper > input {
    display: none;
}
.slider{
	   
	height: 700px;	
	position: relative;
	width: 100%;   
}
@media only screen and (max-width: 767px) {
    .slider {
        width: 100%;
		height: calc(100vw - 10%);		
    }
}
.slides{	
    height: 700px;
	opacity: 0;
	position: absolute;
	width: inherit;
    display: flex;
    align-items: center;    
	z-index: 0;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
	-moz-transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
	-o-transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
	transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
}
.slides img{
	width: 100%;
	border-radius: 20px; 
}

@media only screen and (max-width: 767px) {
    .slides {
        width: 100%;
		height: calc(100vw - 10%);       
    }
}
.caption {
    position: absolute;
    left: 2%;
    bottom: -5.5%;
    z-index: 2;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

@media only screen and (max-width: 767px) {
	.caption {
		position: absolute;
		left: 10px;
		bottom: -13vh;
		z-index: 2;
		color: #FFFFFF;
		font-size: 1.3rem;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
	}
}
.wrapper .controls {
	width: 200px;
    display: flex;
	padding-left: calc(65%);
}

@media only screen and (max-width: 767px) {
    .wrapper .controls {		
		padding-left: 0;
		margin: 2vh auto 0 auto;		   
    }
}

.wrapper label {
	cursor: pointer;	
	height: 12px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 12px;
	-webkit-border-radius: 50%;
    background: rgb(66, 157, 255);
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out 0.3s;
	-moz-transition: background ease-in-out 0.3s;
	-o-transition: background ease-in-out 0.3s;
	transition: background ease-in-out 0.3s;
}

.wrapper label:after {
	border: 2px solid rgb(66, 157, 255);
	content: " ";
	display: block;
	height: 10px;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    transition: 0.3s;
}


#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: rgba(0, 123, 255, 0);
}
.wrapper label:hover {
    background: rgb(255, 255, 255);
}
.wrapper label:hover::after{       
    border: 2px solid rgb(255, 255, 255);
    -webkit-transition: border ease-in-out 0.3s;
	-moz-transition: border ease-in-out 0.3s;
	-o-transition: border ease-in-out 0.3s;
	transition: border ease-in-out 0.3s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

